@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2dede;
}

#otp-input::-webkit-outer-spin-button,
#otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#otp-input {
  -moz-appearance: textfield;
}
